Source: tempwork
Section: utils
Priority: optional
Maintainer: Genki Sugawara <sgwr_dts@yahoo.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/winebarrel/tempwork

Package: tempwork
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Execute a command in a temporary directory.
